



/***************************************************************************/
/*      LEGEND                                                             */
/*      HIGHLIGHT AND USE USE CTRL + F + ENTER TO SKIP TO EACH SECTION     */ 
/*                                                                         */
/*                                                                         */
/*      SETUP!                                                             */
/*      Style Guide                                                        */
/*      General Settings of Elements and Sections...and Stylistic Sugar!   */
/*      Section 1: Header                                                  */
/*      Section 2: About                                                   */
/*      Section 3: What I Do                                               */
/*      Section 4: Portfolio                                               */
/*      Section 5: Resume                                                  */
/*      Section 6: Contact                                                 */
/*      Section 7: Footer                                                  */
/*      Section 8: Media Queries                                           */
/*                                                                         */
/***************************************************************************/




/*********************************** Setup! *********************************************/
@import 'normalize';

//Color Variables
$salmon: #ff4a57;

//Font Family Variables
$rufinaFont: 'Rufina', serif;
$rubikFont:'Rubik', serif;


/************************* General Settings of Elements and Sections...and Stylistic Sugar! *************************/

html {
  font-size: 62.5%;
  // scroll-behavior: smooth; 
}

body {
  margin-top: 0.1px;
  position: relative;
  background: #DBE3E9;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* FIX PAGE STYLINGS */

h1 {
  font-weight: 700;
  font-size: 50px;
  font-family: $rufinaFont;
  visibility: hidden; //For the animation
}

.color-red {
  color: #D11F26;
}

.color-blue {
  color: #1C5793;
}
 
.header-flex-left p {     
  font-family: $rubikFont;
  font-weight: normal;
  font-size: 2rem;
  color: #152136;
  margin-top: 35px;
  font-style: normal;
  font-weight: 400;
  visibility: hidden;  //For the animation
}

/************************************ Section 1: Header *********************************************/

header {
  background: #DBE3E9;
  position: relative;
}

.nav-wrapper {
  position: sticky;
  top: 4%;
  margin: 4% 4% 0 4%;
  background: #fff;
  height: 98px;
  z-index: 5;
  transition: all 0.5s;
}

.nav-fixed {
  margin: 0;
  top: 0;
}

.nav-shadow {
  box-shadow: 0px 40px 60px 0px rgba(0,0,0,0.2);
}

.drop-down-shadow {
  box-shadow: 0px 40px 60px 0px rgba(0,0,0,0.2);
}

.nav {   //Start of the navigation block

  li {
    position: relative;
    margin: 10px;

    a {
      display: block;
      padding: 20px;
      font-size: 1.6rem;
      font-weight: 600;
      color: #000;
    }  

    a:before {
      content: '';
      position:absolute;
      height: 2px;
      background: linear-gradient(150deg, rgba(255,255,255,0.5), rgba(255,74,87,1));
      left: 0px;
      bottom: 0px;
      right: 100%;
      display: block;
      transition: right 0.5s;
    }    
  }
} 

nav ul li:hover a:before,
nav ul li:active a:before  {
  right: 70%;
} 

.sticky-wrapper {   //start of the sticky wrapper code block
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;

  a {
    display: block;
  }

  .header-logo {
    width: 50px;
    margin: 10px 0 0 20px;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  label {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    font-size: 30px;
    margin: 25px 15px;
    padding: 5px;
    color: $salmon;
    border: 2px solid $salmon;
  }
  
  .tab-content {
    max-height: 0;
    margin-top: 12px;
    overflow: hidden;
    background: #fff;
    transition: max-height 0.5s ease-out;
    position: relative;
  }

  input:checked ~ .tab-content {
    max-height: 100vh;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
  }
}

.heading-wrapper {
  position:relative;
  padding: 5%;
  z-index: 1;
}

.background {
  visibility: hidden;
}

.floating-developer {
  display: inline-block;
  color: #fff;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 7.5rem;
  margin: 0;
  padding-left: 5%;
  transform: rotate(-15deg);
  z-index: 2;
}

.flex-header-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.whatIDo {  /* MAKE IT LOOK BETTER */
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 15px 15px;
  text-transform: uppercase;
  background: $salmon;
  border-radius: 30px;
  letter-spacing: 2px;
  text-decoration: none;
}

.header-social {  //Head of the social header section
  margin-top: 50px;
  width: 60%;
  display: flex;
  justify-content: space-between;

  li {
    background: #e5ecf1;
    display: inline;
  }

  li:hover a,
  li:active a {
    background: #fff;
  }

  a {
    display: block;
    padding: 10px;
  }

  i {
    font-size: 1.8rem;
    color: #717377;
  }
}

.background {
  position: absolute;
  display: inline-block;
  top: 75px;
  right: 0;
  left: 0;
  visibility: visible;
  z-index: -1;
}

.star-wars {
  width: 18%;
  position: absolute;
  bottom: 0;
  right: 15%;
  z-index: 3;
  display: none;

  svg {
    width: 70%;
    fill: #f3f5ff;
  }
}

.back-to-top {
  position: fixed;
  background: $salmon;
  height: 60px;
  width: 60px;
  right: 50px;
  bottom: 77px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 60px;
  transition: opacity 0.5s;
  opacity: 0;
}

.back-to-top a {
  display: block;
}

.back-to-top a i {
  display: inline-block;
  color: white;
}

.back-to-top-show {
  transition: opacity 0.5s;
  opacity: 1;
}


/************************************ Section 2: About *********************************************/

.wrapper-white {
  background: white;
  padding: 0 5%;
}

.about-flex-wrapper {
  margin-top: 5%;
  padding: 15%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-flex-left {
  display: inline-block;
  width: 100%;
  margin-right: 5%;

  img {
    border-radius: 50%;
    box-shadow: 10px 10px 34px -10px rgba(0,0,0,0.75);
  }
}

.about-flex-right { //Start of about-flex-right code block
  width: 100%;

  .contact-flex {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    
      li {
        display: flex;
        justify-content: baseline;
        align-items: center;
      }

      li:last-child {
        margin-top: 10%;
      }
    }
  }

  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: $rubikFont;
    color: $salmon;
    font-weight: 500;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 3.8rem;
    font-family: $rufinaFont;
    line-height: 1;
    letter-spacing: 2px;
  }

  h4 {
    color: #929cad;
    font-weight: 500;
    font-family: $rubikFont;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    font-family: $rufinaFont;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
  }

  a {
    font-size: 1.5rem;
    font-family: $rufinaFont;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    color: black;
  }
} //End of about-flex-right code block

.languages-wrapper {
  margin-top: 10%;
  h4 {
    margin-bottom: 5%;
  }
  .languages {
    display: flex;
    justify-content: space-between;


    svg {
      width: 46px;
      max-height: 46px;
    }
  }
}

.contact-logo {
  min-width: 46px;
  margin-right: 20px;
}

/************************************ Section 3: What We Do *********************************************/

.wrapper-light {
  padding: 0 5%;
  background: #f3f5ff;
}

.what-we-do-wrapper {
  padding: 5%;
}

.what-we-do {   //start of the what we do block
  text-align: center;

  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: $rubikFont;
    color: $salmon;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  h2 {
    font-size: 3.8rem;
    font-family: $rufinaFont;
    line-height: 1;
    letter-spacing: 2px;
    position: relative;
  }

  h2:after {
    position: absolute;
    content: "";
    height: 5px;
    background: linear-gradient(to right, rgba(206, 214, 255, 1) 0%, rgba(206, 214, 255, 1) 60%, rgba(206, 214, 255, 0) 60%, rgba(206,214,255,0) 80%, rgba(206, 214, 255, 1) 80%, rgba(206, 214, 255, 1) 100%);    
    bottom: -20px;
    left: 40%;
    right: 40%;
  }
} //end of the what we do code block

.service-container { //Start of the service container code block
  margin-top: 20%;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    background: white;
    width: 100%;
    padding: 5%;
    margin-bottom: 10%;
  }

  img {
    max-width: 46px;
  }

  h4 {
    font-family: $rubikFont;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 24px
  }

  h4:after {
    position: absolute;
    content: "";
    height: 5px;
    background: #e7e7e7;    
    bottom: 0;
    left: 0;
    right: 90%;
    transition: all 0.5s;
    border-radius: 5px;
  }

  li:hover h4:after,
  li:active h4:after {
    right: 75%;
    background: $salmon;
  }

  p {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2.6rem;
    color: #666;
    margin-bottom: 10%;
  }

  a {
    color: #a4b0c4;
    background: #f3f3f3;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s;
    margin-bottom: 5%;
  }

  a:hover,
  a:active {
    background: $salmon;
    color: #fff;
  }

  i {
    font-size: 1.2rem;
  }
} //End of the service container code block


/************************************ Section 4: Portfolio ********************************************/

.center-wrapper-portfolio {
  margin: 0;
  padding: 5%;
  background: white;
}

.portfolio-wrapper {
  margin: 0 auto;
  text-align: center;
  position: relative;

  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: $rubikFont;
    color: $salmon;
    font-weight: 500;
    letter-spacing: 2px;

    
  }

  h2 {
    font-size: 3.8rem;
    font-family:$rufinaFont;
    line-height: 1;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 10%;
  }

  h2::after {
    position: absolute;
    content: "";
    height: 5px;
    background: linear-gradient(to right, #ced6ff 0%, #ced6ff 60%, rgba(206, 214, 255, 0) 60%, rgba(206, 214, 255, 0) 80%, #ced6ff 80%, #ced6ff 100%);
    bottom: -20px;
    left: 40%;
    right: 40%;
  }

  input {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  label {
    display: block;
    line-height: 1;
    font-size: 1.4rem;
    padding: 5%;
    margin: 0 auto;
    width: 40%;
    font-weight: 400;
    line-height: 1.5;
    color: #929cad;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: $rubikFont;
  }

  ul {
      margin: 5% 0; 
      padding:0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      overflow: hidden;
  }

  ul li {
    list-style: none;
    margin: 2%;
    width: 60%; //controls the starting width
    transition: width 1s
  }
}

/*Select Categorie*/	
input#project1:checked ~ .gallery li:not(.project1-item), 
input#project2:checked ~ .gallery li:not(.project2-item), 
input#project3:checked ~ .gallery li:not(.project3-item), 
input#personal-project:checked ~ .gallery li:not(.personal-item) {
  overflow: hidden;
  width: 0;
}

input#project1:checked ~ .gallery li, 
input#project2:checked ~ .gallery li, 
input#project3:checked ~ .gallery li, 
input#personal-project:checked ~ .gallery li {
  width: 90%;
}

label[for="all"] {
  border-bottom: 2px solid $salmon;
}

input#project1:checked ~ label[for="project1"],
input#project2:checked ~ label[for="project2"],
input#project3:checked ~ label[for="project3"], 
input#personal-project:checked ~ label[for="personal-project"] {
  border-bottom: 2px solid $salmon;
}


/************************************ Section 5: Resume ********************************************/

.resume-wrapper { //Start of the resume wrapper code block
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: #f3f5ff;

  h3 {
    margin: 0;
    padding: 20% 0 5% 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: $rubikFont;
    color: $salmon;
    font-weight: 500;
    letter-spacing: 2px;
  }

  label {
    color: #152136;
    font-family: $rufinaFont;
    font-size: 4.0rem;
    font-weight: 700;
    padding: 5% 0;
    margin: 5% auto;
    position: relative;
  }

  h4 {
    font-size: 2.8rem;
    font-weight: 700;
    font-family: $rufinaFont;
  }

  h5 {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: $rubikFont;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 30%;
    font-family: $rubikFont;
  }


  label {
    cursor: pointer;
  }

  a {
    color: black;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 15%;
    padding-bottom: 20%;
    display: flex;
    flex-direction: column;
  }

  li {
    margin: 10% 0; 
    position: relative;
    border-top: 2px solid #f4f7fb;
    border-bottom: 2px solid #f4f7fb;
  }

  li::before,
  li::after {
    content: '';
    height: 2px;
    position: absolute;
    right:40%;
    left:40%;
    background: $salmon;
    transition: all 0.3s;
  }

  li::before { 
    top:-2px;
  }

  li::after {
    bottom:-2px;
  }

  li:hover::before,
  li:hover::after {
    left: 0;
    right: 0;
  }

  .no-animation::before,
  .no-animation::after {
    content: '';
    height: 2px;
    position: absolute;
    right:0;
    left:0;
    background: $salmon;
  }

  .no-animation::before { 
    top:-2px;
  }
  
  .no-animation::after {
    bottom:-2px;
  }

} //End of the resume wrapper code block

label[for="resume"] {
  border-top: 2px solid #f4f7fb;
  border-bottom: 2px solid #f4f7fb;
  transition: all 0.3s;
  position: relative;
}

.left-right:before,
.left-right:after {
  content: '';
  height: 2px;
  position: absolute;
  background: $salmon;
  transition: all 0.3s;
}

 .left-right:before { 
  top:-2px;
  right:0;
  left:70%;
}

.left-right:after {
  bottom:-2px;
  right:70%;
  left:0;
}

.right-left:before,
.right-left:after {
  content: '';
  height: 2px;
  position: absolute;
  background: $salmon;
  transition: all 0.3s;
}

.right-left:before { 
  top:-2px;
  right:70%;
  left:0;
}

.right-left:after {
  bottom:-2px;
  right:0;
  left:70%;
}

.right-left:hover::before,
.right-left:hover::after,
.left-right:hover::before,
.left-right:hover::after  {
  left: 0;
  right: 0;
}

input[name='resume'] {
  position: absolute;
  left: -1000px;
  width: 1px;
  height: 1px;
    &:checked {
      & + ul li.education {
        display: block;
      }
      & + ul li.experience {
          display: none;
      }
    }
  }

.education {
  display: none;
}

.resume-logo {
  padding-top: 15%;
  margin: 0 auto;
  max-width: 50px;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
}

/************************************ Section 6: Contact ********************************************/

.center-wrapper {
  margin: 0;
  background: url(../assets/contact-bg.png), #fff;
  padding: 5%;
}

.contact-wrapper {
  margin: 0 auto;
  text-align: center;

  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: $rubikFont;
    color: $salmon;
    font-weight: 500;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 3.8rem;
    font-family: $rufinaFont;
    line-height: 1;
    letter-spacing: 2px;
    position: relative;
  }

  h2::after {
    position: absolute;
    content: "";
    height: 5px;
    background: linear-gradient(to right, #ced6ff 0%, #ced6ff 60%, rgba(206, 214, 255, 0) 60%, rgba(206, 214, 255, 0) 80%, #ced6ff 80%, #ced6ff 100%);
    bottom: -20px;
    left: 40%;
    right: 40%;
  }
}

.contact-flex {
  display: flex;
  flex-direction: column;
  font-family: $rubikFont;
  font-size: 2rem;

  input {
    text-transform: uppercase;
    margin: 10% 0;
    border: none;
    background: none;
    outline: 0;
    width: 90%;
  }

  textarea {
    padding: 5% 1%;
    border: none;
    outline: 0;
    width: 90%;
    overflow: auto;
    resize: vertical;
    min-height:100px;
    background: none;
  }

  .input-wrapper{
    border: 3px solid #929cad;
    margin: 5% 0;
    position: relative;
    color: #929cad;
  }

  .input-wrapper::after {
    position: absolute;
    top: -12px;
    left:24px;
    background: #fff;
  }

  .input-wrapper.message {
    width: 100%;
  }

  .name::after {
    content:"NAME";
  }

  .email::after {
    content:"EMAIL";
  }

  .tel::after {
    content:"PHONE NUMBER";
  }

  .message::after {
    content:"MESSAGE";
  }

  .focus {
    border: 3px dashed $salmon;
    transition: all 0.3s;
  }
 }
 
 form button {
  margin: 5%;
  color: #fff;
  cursor: pointer;
  border: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 21px 53px;
  text-align: center;
  text-transform: uppercase;
  background: $salmon;
  border-radius: 30px;
  letter-spacing: 2px;
}


/************************************ Section 7: Footer ********************************************/

footer {
  padding-top: 30%;
  background: #152136;
  text-align: center;
}

.blue-wrapper {
    
  p {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 0;
    padding: 0 10px;
    color: #b4bbc9;
    width: 90%;
    margin: 0 auto;
  }
}

.footer-logo {
  width: 65px;
  margin: 0 auto;
  padding-bottom: 10%;
}

.footer-social {  //Start of the social header code block
  margin: 20% 0 30% 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  li {
    background: #1c2940;
    border-radius: 50%;
  }

  li:hover a,
  li:active a {
    background: rgb(226, 225, 225);
    border-radius: 50%;
  }

  a {
    display: block;
    padding: 30px;
  }

  i {
    font-size: 2.2rem;
    color: #717377;
  }
} //End of the social header code block

.copyright-wrapper {
  border-top: 0.5px solid #b4bbc9;
  background: #1c2940;
  
  p {
    color: #b4bbc9;
    font-size: 1.4rem;
    margin: 0;
    padding: 7%;
  }
}


/************************************ Section 8: Media Queries ********************************************/

// Landscape phones and down
@media (min-width: 364px) {
  
  //Section 1: Header
  .header-social {
    width: 40%;
  }

  h1 {
    font-size: 4rem;
  }

  .header-social i {
    font-size: 2.1rem;
  }

  .floating-developer {
    padding-left: 5%;
    font-size: 10rem;
  }

  //Section 7: Footer
  footer {
    padding-top: 20%;
  }

  .blue-wrapper {
    p {
    font-size: 1.8rem;
    width: 90%;
    margin: 0 auto;
    }
  }
  
  .footer-logo {
    padding-bottom: 5%;
  }
  
  .footer-social {
    margin: 10% auto 30% auto;
    width: 70%;
  }
  
  .copyright-wrapper {
    p {
      padding: 2%;
    }
  }
} //End of the 364px Media Query

// Landscape phone to portrait tablet
@media (min-width: 641px) {

  //Section 1: Header
  h1 {
    font-size: 5rem;
  }

  .header-flex-left p {     
    font-size: 2.2rem;
  }

  .background {
    top: -20px;
    left: 10%;
  }
  .flex-header-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-flex-right {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .header-social {
    flex-direction: column;
    width: 100%;
  }

  .header-social li {
    margin-top: 10px;
  }

  .header-social i {
    font-size: 3rem;
  }

  .floating-developer {
    font-size: 12.5rem;
    padding-top: 12%;
  }

  //Section 2: About me
  .about-flex-right {
    p {
      font-size: 1.7rem;
    }
  
    a {
      font-size: 1.7rem;
    }
  }

  //Section 3: What I do
  .service-container {
    margin-top: 10%; 

    li {
      margin-bottom: 5%;
    }

    li:hover h4:after,
    li:active h4:after {
      right: 85%;
    }
  }

  .languages-wrapper {
    h4 {
      margin-bottom: 3%;
    }
  }

  .languages {
    width: 60%;
  }

    //Section 4: Portfolio
  .portfolio-wrapper {

    h2 {
      margin-bottom: 10%;
    }
      
    label {
      display: inline;
      padding: 2%;
      margin: 2%;
    }

    ul {
      width: 90%;
      margin: 5% auto;
    }

    ul li {
      margin: 2%;
        width: 60%;
      transition: width 1s;
    }
  }

  //Section 5: Resume
  .resume-wrapper {
    
    label {
      padding: 3% 0;
    }

    h3 {
      padding: 10% 0 3% 0;
    }
    
    h4 {
      margin-top: 10%;
    }
  
    p {
      margin-bottom: 10%;
    }

    ul {
      margin-top: 5%;
      padding-bottom: 10%;
    }

    li {
      margin: 5% 0;
    }
  }

  //Section 6: Contact
  .contact-wrapper {
    width: 60%;

    .input-wrapper {
      margin: 3% 0;
    }
  }

  //Section 7: Footer
  footer {
    padding-top: 15%;
  }

  .blue-wrapper {

    p {
    font-size: 1.8rem;
    width: 90%;
    margin: 0 auto;
    }
  }
  
  .footer-logo {
    padding-bottom: 5%;
  }
  
  .footer-social {
    margin: 10% auto 20% auto;
    width: 70%;
  }
  
  .copyright-wrapper {

    p {
      padding: 2%;
    }
  }
  
} //End of the 641px Media Query


//Landscape phone to portrait tablet
@media (min-width: 961px) {

  //Section 1: Header
  .nav-wrapper {
    height: 85px;
  }

  h1 {
    font-size: 7rem;
  }

  .header-flex-left p {     
    font-size: 2.5rem;
  }

  .background {
    top: -30px;
    left: 20%;
  }

  .floating-developer {
    font-size: 150px;
  }

  .star-wars {
    display: block;
  }

  .drop-down-wrapper {
    width: 60%;
    display: flex;
    align-items: center;
  }

  .sticky-wrapper {   //Start of the sticky wrapper code block
    display: flex;
    justify-content: space-between;

    .header-logo {
      width: 50px;
      margin: 10px 0 0 20px;
    }
  
    input {
      display: none;
    }

    label {
     display: none;
    }

    .tab-content {
     max-height: 150px;
     margin: 0;
    }
  }  //End of sticky wrapper code block
  
  .nav { //Start of the navigation code block
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 40px;

    li {
      align-content: center;
    }

    li a {
      padding: 20px;
    }
    
    li:hover a:before,
    li:active a:before  {
      right: 0%;
    }
  } //End of the navigation code block
  
  //Section 2: About
  .about-flex-wrapper {
    margin-top: 5%;
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about-flex-left {
    width: 35%;
  }

  .about-flex-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;

    .contact-flex {

      ul {   
        li {
          width: 63%;
        }
      }
    }
  }

  //Section 3: What I do
  .service-container {
    margin-top: 7%;
  
    li {
      width: 47.5%;
    }

    li:hover h4:after,
    li:active h4:after {
      right: 75%;
    }
  }

  .languages-wrapper {
    h4 {
      margin-bottom: 2%;
    }
  }

  
    //Section 4: Portfolio
  .portfolio-wrapper {
    h2 {
      margin-bottom: 3%;
    }
     
    label {
      padding: 2%;
      margin: 0 3%;
    }

    ul {
      margin: 3% auto; 
      width: 60%;
    }

    ul li {
      width: 40%;
    }
  }

    //Section 5: Resume
  .resume-wrapper {  //Start of the resume wrapper code block
    label {
      margin: 2% auto;
      position: relative;
      width: 40%;
    }
  
    .label-wrapper {
      position: relative;
      flex-direction: row;
      justify-content: space-around;
      margin: 0 auto;
    }
  
    .label-wrapper::after {
      content: '';
      width: 5px;
      position: absolute;
      top: 30%;
      bottom: 30%;
      right: calc(50% + 2.5px);
      background:#e8ecf3;
      transition: all 0.3s;
    }
  
    ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    li {
      width: 40%;
    }
  }
  //Section 6: Contact
  .contact-wrapper {
    width: 100%;

    .input-wrapper {
      width: 33%;
      margin: 3% 0;
    }

    textarea {
      padding: 2% 0;
    }
  }

  .contact-flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  form button {
    margin: 2%;
  }

  //Section 7: Footer
  footer {
    padding-top: 8%;
  }
  
  .blue-wrapper p {
    width: 70%;
  }

  .footer-logo {
    padding-bottom: 5%;
  }
  
  .footer-social {  //Head of the social header section
    margin: 10% auto 15% auto;
    width: 40%;
  }
} //End of the 961px Media Query

// Portrait tablet and small desktops
@media (min-width: 1281px) {
  
  //Section 1: Header
  .background {
    top: -30px;
    left: 20%;
  }
  
 .wrapper {
    width: 90%;
    margin: 0 auto; 
  }

  h1 {
    font-size: 9rem;
  }

  .left p {     
    font-size: 3rem;
  }

  .whatIDo {
    padding: 21px 53px;
    text-transform: uppercase;
    vertical-align: middle;
    background: $salmon;
    border-radius: 30px;
    letter-spacing: 2px;
    text-decoration: none;
  }

  .floating-developer {
    font-size: 25rem;
    padding-top: 5%; 
  }

  //Section 2: About
  .my-mug {
    width: 18%;
  }

  .about-flex-right { //Start of the about flex right code block

    .contact-flex {
      ul {
        flex-direction: row;    
        
        li {
          width: 50%;
        }

        li:last-child {
          margin-top: 0;
          margin-left: 10%;
        }
      }
    }
 
    p {
      font-size: 2rem;
    }
  
    a {
      font-size: 2rem;
    }
  } //End of the about flex right code block

  .languages {
    width: 40%;
  }

  //Section 3: What I do
  .what-we-do {
    h2:after {
      left: 45%;
      right: 45%;
    }
  }

  .service-container {
    margin-top: 5%;
  
    li {
      background: white;
      width: 30%;
      padding: 5%;
    }
  }

      //Section 4: Portfolio
  .portfolio-wrapper {
    h2:after {
      left: 45%;
      right: 45%;
    }
  
    ul {
      width: 50%;
    }
  }

  //Section 5: Resume
  .resume-wrapper {

    ul {
      margin-top: 2%;
    }

    li {
      width: 30%;
      margin: 2% 0;
    }
    
    .label-wrapper {
      width: 60%;
    }
  }

  //Section 6: Contact
  .contact-wrapper {
    width: 90%;

    h2:after {
      left: 45%;
      right: 45%;
    }

    .input-wrapper {
      width: 33%;
      margin: 3% 0;
    }
  }

  //Section 7: Footer
  footer {
    padding-top: 5%;
  }

  .blue-wrapper p {
    width: 40%;
  }
  
  .footer-logo {
    padding-bottom: 2%;
  }
  
  .footer-social {
    margin: 4% auto 4% auto;
    width: 20%;
  }

  .copyright-wrapper {
    p {
      padding: 1%;
    }
  }
} //End of the 1281px Media Query